# Ambiente Virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# Arquivos de ambiente
.env

# Pytest
.pytest_cache/

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log